## INFORMAÇÕES DO ALUNO

In [0]:
'''
SOFTWARES PARA USO EM CIÊNCIA DE DADOS II
PROJETO 02/02 - Beer Consumption
PROFESSOR: NASSER BOAN
ALUNO: ARTHUR FARIAS
MATRÍCULA: 1931133115
'''

# IMPORTANDO DATASET E BIBLIOTECAS

## Bibliotecas

In [1]:
## IMPORTANDO AS BIBLIOTECAS QUE SERÃO UTILIZADAS NO PROJETO ##
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# Comment this if the data visualisations doesn't work on your side
# %matplotlib inline

# We are using whitegrid style for our seaborn plots. This is like the most basic one
sns.set_style(style = 'whitegrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Dataset

In [8]:
## IMPORTANDO A BASE E REALIZANDO OS TRATAMENTOS INICIAIS
df = pd.read_csv('/content/drive/My Drive/git/Beer_Consumption/data/Consumo_cerveja.csv',sep=',',encoding='iso-8859-1')
df.columns = [x.lower() for x in df.columns]
df_columns = df.columns
df.head(3)

         data  ... consumo de cerveja (litros)
0  2015-01-01  ...                      25.461
1  2015-01-02  ...                      28.972
2  2015-01-03  ...                      30.814

[3 rows x 7 columns]

In [9]:
# MELHORANDO O NOME DAS VARIÁVEIS
df.columns = ['data', 't_media', 't_minima', 't_maxima', 'precipitacao', 'fim_semana', 'consumo']
df_columns = df.columns
df.head(3)

         data t_media t_minima t_maxima precipitacao  fim_semana  consumo
0  2015-01-01    27,3     23,9     32,5            0         0.0   25.461
1  2015-01-02   27,02     24,5     33,5            0         0.0   28.972
2  2015-01-03   24,82     22,4     29,9            0         1.0   30.814

In [0]:
# DICIONÁRIO DE DADOS

'''
data            Data
t_media         Temperatura Media (C)
t_minima        Temperatura Minima (C)
t_maxima        Temperatura Maxima (C)
precipitacao    Precipitacao (mm)
fim_semana      Final de Semana
consumo         Consumo de cerveja (litros)
'''

# ANÁLISE EXPLORATÓRIA

In [10]:
# VERIFICANDO O SHAPE DO DATASET E CRIANDO VARIÁVEIS
n_rows = df.shape[0]
n_cols = df.shape[1]
v_cols = df.columns
v_answer = 'consumo'
print('O Dataset possui' , n_rows, 'linhas e' , n_cols , 'colunas.')

O Dataset possui 941 linhas e 7 colunas.

In [11]:
# VERIFICANDO INFORMAÇÕES DO DATASET
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   data          365 non-null    object
 1   t_media       365 non-null    object
 2   t_minima      365 non-null    object
 3   t_maxima      365 non-null    object
 4   precipitacao  365 non-null    object
 5   fim_semana    365 non-null    float64
 6   consumo       365 non-null    float64
dtypes: float64(2), object(5)
memory usage: 51.6+ KB

In [12]:
# IDENTIFICANDO VALORES NULOS
if df.isnull().values.any() == True:
  print(df.isna().sum(), '\n\n\nVALORES PERCENTUAIS DE NULO\n')
  print((df.isnull().sum()/n_rows).round(2)*100)
else:
  print('O Dataset não possui valores nulos.')

data            576
t_media         576
t_minima        576
t_maxima        576
precipitacao    576
fim_semana      576
consumo         576
dtype: int64


VALORES PERCENTUAIS DE NULO

data            61.0
t_media         61.0
t_minima        61.0
t_maxima        61.0
precipitacao    61.0
fim_semana      61.0
consumo         61.0
dtype: float64

In [13]:
# CRIANDO DATASET'S PARA VARIÁVEIS CATEGORICAS - CASO EXISTAM
df_cat = df.select_dtypes(include = 'object').copy()
df_cat.head(3)

         data t_media t_minima t_maxima precipitacao
0  2015-01-01    27,3     23,9     32,5            0
1  2015-01-02   27,02     24,5     33,5            0
2  2015-01-03   24,82     22,4     29,9            0

In [0]:
# NÚMERO DE VALORES DISTINTOS NAS VARIÁVEIS
print(df.nunique(),'\n\nRELAÇÃO DE VARIÁVEIS COM MENOS ATÉ 20 VALORES DISTINTOS')

for i in v_cols:
  if df[i].nunique() <= 20:
    print(i,sorted(df[i].unique()))
#    print(df[i].value_counts(dropna=False))

In [0]:
# ESTATISTICA DESCRITIVA DOS DADOS
df.describe(include='all').round(2)

In [0]:
# ALTERANDO A VISÃO PARA MELHORAR A VISUALIZAÇÃO
df.describe(include='all').round(2).T

In [0]:
# GRÁFICO COM A DISTRIBUIÇÃO DOS VALORES
gr_dist = df.hist(figsize = (20,15))

In [0]:
# BOX-PLOT DAS VARIÁVEIS EM BUSCA DE OUTLIERS
ix = 1
fig = plt.figure(figsize = (15,10))
for c in list(v_cols):
    if ix <= 3:
      ax1 = fig.add_subplot(2,3,ix)
      sns.boxplot(y=df[c], ax=ax1)
      ax1.set_title('Box plot - {}'.format(c), fontsize=10)
      ax1.set_xlabel(c, fontsize=8)
    ix = ix +1
    if ix == 4: 
        fig = plt.figure(figsize = (15,10))
        ix =1

In [0]:
# VERIFICANDO A CORRELAÇÃO ENTRE AS VARIÁVEIS
plt.figure(figsize=(15,3))
sns.heatmap(df.corr(),annot=True)

In [0]:
# CRIAÇÃO DE NOVAS FEATURES
df['data']            = pd.to_datetime(df.data, format='%Y-%m-%d')
df['data_ano']        = df['data'].dt.year
df['data_mes']        = df['data'].dt.month
df['data_dia']        = df['data'].dt.day
df['data_semana']     = df['data'].dt.week
df['data_diasemana']  = df['data'].dt.dayofweek

# PONTOS ADICIONAIS QUE PODEM SER ÚTEIS

In [0]:
# OPÇÕES DE TRANSFORMAR OS VALORES DE UMA COLUNA EM LETRAS MINUSCULAS
df['A'] = df['A'].str.lower()
df['A'].apply(lambda x: x.lower()) 
data.columns = [x.lower() for x in data.columns]
df.columns = map(str.lower, df.columns)

In [0]:
# GRÁFICO DE DISTRIBUIÇÃO, MAS ME PARECE SER MAIS INTERESSANTE PARA VARIÁVEIS CATEGORICAS
ix = 1
fig = plt.figure(figsize = (15,10))
for c in list(df.columns):
    if ix <= 3:
        if c != 'Outcome':
            ax1 = fig.add_subplot(2,3,ix)
            sns.countplot(data = df, x=c, ax = ax1)
            #ax2 = fig.add_subplot(2,3,ix+3)
            #sns.boxplot(data=df, x=c, y='Outcome', ax=ax2)
            #sns.violinplot(data=df, x=c, y='Outcome', ax=ax2)
            #sns.swarmplot(data = df, x=c, y ='Outcome', color = 'k', alpha = 0.4, ax=ax2)
            
    ix = ix +1
    if ix == 4: 
        fig = plt.figure(figsize = (15,10))
        ix =1

In [0]:
#@title Apresentando um relatório geral dos dados e ordenando pelo percentual de missing values
df_stats = pd.DataFrame(columns = ['column', 'values', 'values_count_inc_na', 'values_count', 'num_miss', 'pct_miss'])
tmp = pd.DataFrame()
for c in df.columns:
    tmp['column'] = [c]
    tmp['values'] = [df[c].unique()]
    tmp['values_count_inc_na'] = len(list(df[c].unique()))
    tmp['values_count'] = int(df[c].nunique())
    tmp['num_miss'] = df[c].isnull().sum()
    tmp['pct_miss'] = (df[c].isnull().sum()/ len(df)).round(3)*100
    df_stats = df_stats.append(tmp)

df_stats.sort_values(by = 'pct_miss', inplace = True, ascending = True)    
df_stats

In [0]:
# VERIFICA A RELAÇÃO DA VARIÁVEL INDEPENDENTE COM A VARIÁVEL RESPOSTA
sns.boxplot(data = df, x='age', y='outcome')

In [0]:
# GRÁFICO PARA IDENTIFICAÇÃO DE OUTLIERS
def percentile_based_outlier(data, threshold=95):
    diff = (100 - threshold) / 2
    minval, maxval = np.percentile(data, [diff, 100 - diff])
    return (data < minval) | (data > maxval)

col_names = v_cols

fig, ax = plt.subplots(len(col_names), figsize=(8,40))

for i, col_val in enumerate(col_names):
    x = df[col_val][:1000]
    sns.distplot(x, ax=ax[i], rug=True, hist=False)
    outliers = x[percentile_based_outlier(x)]
    ax[i].plot(outliers, np.zeros_like(outliers), 'ro', clip_on=False)

    ax[i].set_title('Outlier detection - {}'.format(col_val), fontsize=10)
    ax[i].set_xlabel(col_val, fontsize=8)

plt.show()

In [0]:
# Keep only the rows with at least 4 non-na values
df.dropna(thresh = 4,inplace = True)